@model WebApplication6.Models.ModelSpektakl

@{
    ViewBag.Title = "Display";
}

@{
    WebApplication6.Models.ModelSpektaklDBCtxt db = new WebApplication6.Models.ModelSpektaklDBCtxt();
}
@using (Html.BeginForm())
{
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in db.Spektakle) 
            {
                <tr>
                    <td><img src="~/images/@item.ImgUrl" width="100" height="100" /></td>
                    <td>@item.Wykonawcy</td>
                    <td>@item.Tytuł</td>
                </tr>
            }
        </tbody>
    </table>
}
